In [2]:
import pandas as pd
import numpy as np

In [5]:
mobility = pd.read_csv("./raw data/2020_CA_Region_Mobility_Report.csv")

#### need for mobility
mobility_id int  
metro_area bool  
subregion bool  
province bool  
retail_and_recreation bool  
grocery_and_pharmarcy bool  
parks varchar  
transit_stations bool  
workplaces bool  
residential bool

In [6]:
mobility = mobility.drop(['country_region_code','country_region','sub_region_2','census_fips_code','iso_3166_2_code','date','place_id'], axis = 1)

In [109]:
mobility.rename(columns = {'sub_region_1':'sub_region'}, inplace = True) 
mobility.rename(columns = {'retail_and_recreation_percent_change_from_baseline':'retail_and_recreation'}, inplace = True) 
mobility.rename(columns = {'grocery_and_pharmacy_percent_change_from_baseline':'grocery_and_pharmacy'}, inplace = True) 
mobility.rename(columns = {'parks_percent_change_from_baseline':'parks'}, inplace = True) 
mobility.rename(columns = {'parks_percent_change_from_baseline':'parks'}, inplace = True) 
mobility.rename(columns = {'transit_stations_percent_change_from_baseline':'transit_stations'}, inplace = True) 
mobility.rename(columns = {'workplaces_percent_change_from_baseline':'workplaces'}, inplace = True) 
mobility.rename(columns = {'residential_percent_change_from_baseline':'residential'}, inplace = True)

In [110]:
mobility["metro_area"].fillna("null", inplace = True) 
mobility["retail_and_recreation"].fillna(0, inplace = True)
mobility["grocery_and_pharmacy"].fillna(0, inplace = True) 
mobility["parks"].fillna(0, inplace = True) 
mobility["transit_stations"].fillna(0, inplace = True) 
mobility["workplaces"].fillna(0, inplace = True) 
mobility["residential"].fillna(0, inplace = True) 
mobility = mobility.dropna(axis = 0,how ='any')

In [111]:
#check if there is any other null values
mobility.isnull().sum()

sub_region               0
metro_area               0
retail_and_recreation    0
grocery_and_pharmacy     0
parks                    0
transit_stations         0
workplaces               0
residential              0
dtype: int64

In [112]:
mobility["province"] = "ON"

In [113]:
mobility = mobility.loc[mobility['sub_region'] == 'Ontario']

In [114]:
mobility

,sub_region,metro_area,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,province
35916,Ontario,null,2.0,3.0,20.0,5.0,1.0,-1.0,ON
35917,Ontario,null,16.0,13.0,44.0,5.0,-2.0,-2.0,ON
35918,Ontario,null,-26.0,-37.0,70.0,-40.0,-72.0,16.0,ON
35919,Ontario,null,-1.0,12.0,-5.0,2.0,0.0,1.0,ON
35920,Ontario,null,0.0,4.0,-4.0,-2.0,1.0,0.0,ON
...,...,...,...,...,...,...,...,...,...
54868,Ontario,null,-28.0,-11.0,8.0,-46.0,-27.0,14.0,ON
54869,Ontario,null,-21.0,-3.0,36.0,-30.0,-8.0,9.0,ON
54870,Ontario,null,-27.0,-13.0,18.0,-43.0,-14.0,7.0,ON
54871,Ontario,null,-35.0,-22.0,-27.0,-45.0,-33.0,15.0,ON
54872,Ontario,null,-31.0,-15.0,-8.0,-45.0,-32.0,14.0,ON

In [115]:
mobility = mobility.iloc[-247:-1,:]

In [116]:
mobility.to_csv('mobility_draft.csv',index=False)

In [117]:
m = pd.read_csv("mobility_draft.csv")

In [118]:
m["mobility_key"] = m.index + 1
m

,sub_region,metro_area,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,province,mobility_key
0,Ontario,NaN,-12.0,1.0,106.0,-30.0,-43.0,12.0,ON,1
1,Ontario,NaN,-2.0,22.0,108.0,-22.0,-40.0,10.0,ON,2
2,Ontario,NaN,-49.0,-44.0,320.0,-36.0,-66.0,18.0,ON,3
3,Ontario,NaN,-13.0,9.0,115.0,-28.0,-45.0,12.0,ON,4
4,Ontario,NaN,-21.0,0.0,146.0,-29.0,-53.0,14.0,ON,5
...,...,...,...,...,...,...,...,...,...,...
241,Ontario,NaN,-31.0,-12.0,-2.0,-44.0,-30.0,15.0,ON,242
242,Ontario,NaN,-28.0,-11.0,8.0,-46.0,-27.0,14.0,ON,243
243,Ontario,NaN,-21.0,-3.0,36.0,-30.0,-8.0,9.0,ON,244
244,Ontario,NaN,-27.0,-13.0,18.0,-43.0,-14.0,7.0,ON,245
245,Ontario,NaN,-35.0,-22.0,-27.0,-45.0,-33.0,15.0,ON,246

In [121]:
cols = list(m.columns.values)
cols

['sub_region',
 'metro_area',
 'retail_and_recreation',
 'grocery_and_pharmacy',
 'parks',
 'transit_stations',
 'workplaces',
 'residential',
 'province',
 'mobility_key']

In [128]:
m = m[['mobility_key','sub_region','metro_area','retail_and_recreation','grocery_and_pharmacy','parks','transit_stations','workplaces','residential','province']]

TypeError: list indices must be integers or slices, not list

In [119]:
m.to_csv('mobility.csv',index=False)