In [16]:
import psycopg2
import pandas as pd
import numpy as np
import datetime
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import recall_score,precision_score
from collections imporet Counter

In [3]:
#!/usr/bin/python
from configparser import ConfigParser


def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))

    return db

In [13]:
""" Connect to the PostgreSQL database server """
conn = None
try:
    # read connection parameters
    params = config()

    # connect to the PostgreSQL server
    print('Connecting to the PostgreSQL database...')
    conn = psycopg2.connect(**params)

    # create a cursor
    cur = conn.cursor()

# execute a statement
    print('PostgreSQL database version:')
    cur.execute('SELECT version()')

    # display the PostgreSQL database server version
    db_version = cur.fetchone()
    print(db_version)

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 11.11 on amd64-portbld-freebsd11.4, compiled by FreeBSD clang version 10.0.0 (git@github.com:llvm/llvm-project.git llvmorg-10.0.0-0-gd32170dbd5b), 64-bit',)

In [7]:

def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)

        # create a cursor
        cur = conn.cursor()
        
    # execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')

        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

if __name__ == '__main__':
    connect()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 11.11 on amd64-portbld-freebsd11.4, compiled by FreeBSD clang version 10.0.0 (git@github.com:llvm/llvm-project.git llvmorg-10.0.0-0-gd32170dbd5b), 64-bit',)

    # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        
    finally:
       if conn is not None:
            conn.close()
            print('Database connection closed.')

In [14]:
try:
    cur.execute("SELECT * from covid_19_tracking_fact_table")
    result_list = cur.fetchall()
except(Exception,psycopg2.DatabaseError) as error:
    print(error)

In [20]:
result_df = pd.DataFrame(result_list,columns = ['onset_date_key','reported_date_key','test_date_key','specimen_date_key','mobility_key','patient_key','special_measures_key','weather_key','phu_location_key','total_fatal','total_unresolved','total_resolved'])

In [21]:
result_df

,onset_date_key,reported_date_key,test_date_key,specimen_date_key,mobility_key,patient_key,special_measures_key,weather_key,phu_location_key,total_fatal,total_unresolved,total_resolved
0,1,1,1,1,2,104,1,2,2,1,0,0
1,1,2,1,1,3,160,1,2,3,0,0,1
2,1,2,2,1,10,196,1,4,4,0,0,1
3,1,2,2,1,10,31,1,4,4,0,0,1
4,1,2,2,1,11,115,1,4,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
162223,124,138,138,137,824,117,11,276,2,0,0,1
162224,124,138,138,137,828,67,11,276,6,0,0,1
162225,124,139,139,137,834,153,11,278,6,0,0,1
162226,124,140,140,138,837,115,11,280,3,0,0,1
162227,124,140,140,138,840,19,11,280,6,0,0,1